body {
  padding-top: 10px;
}
[class*="col-"], footer {
/*  border: 2px grey;
  border-radius: 6px;*/
  line-height: 30px;
/*  text-align: center;*/
}
.LOSS{
  background-color:rgba(239, 0, 3, 0.15)
}
.WIN{
  background-color:hsla(119, 100%, 47%, 0.15)
}

.games{
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.CUSTOM{
  display: none;
}
