{% extends 'starcraftHistory/base.html' %}
{% block content %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


<div id="container" style="min-width: 310px; height: 800px; margin: 0 auto"></div>
<script>
function hideTooFar() {

{% for i in listemmr%}
{%if i >= mmrtop or i <= mmrbottom%}
chart.series[{{forloop.counter0}}].hide();
{% endif%}
{% endfor %}
}
</script>

<script>
var chart=Highcharts.chart('container', {
    chart: {
       zoomType: 'x',
        type: 'spline'
    },
    title: {
        text: 'MMR fighthing for TOP 8 WCS '
    },
    //subtitle: {
    //    text: 'Irregular time data in Highcharts JS'
    //},
    xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: { // don't display the dummy year
            hour: '%H:%M',
            day: '%e'
        },
        title: {
            text: 'Date'
        }
    },
    yAxis: {
        title: {
            text: 'MMR'
        },
      //  min: {{min}}
    },
    tooltip: {
        headerFormat: '<b>{series.name}</b><br>',
        pointFormat: '{point.name}<br>{point.x:%e. %b}: {point.y}  '
    },

    plotOptions: {
        spline: {
            marker: {
                enabled: true
            }
        }
    },

    series:[
    {% regroup games by player__name as name_list %}
      {% for name in name_list %}

      {
        name:"{{name.grouper}}",
        data:[
          {% for g in name.list %}
            {
            name: '{{g.guessmmrchange}}pts vs {{g.guessopid__name}}({{g.guessopid__mainrace}})',
            x:{% widthratio g.date 1 1000 %},
            y: {{g.current_mmr}}
          },
            {% endfor %}
        ]
      },
      {% endfor %}
    ]
})
//hideTooFar()
</script>
{% endblock content %}
