{% extends 'starcraftHistory/base.html' %}
{% block content %}
<script>
function hidenotsolo() {
    elements=document.getElementsByClassName("SOLO");
  for (var index = 0; index < elements.length; index++) {
    console.log(elements[index])
    elements[index].style.display = 'none';
  }
    var x = document.getElementById("btn1").name;
    document.getElementById("demo").innerHTML = x;
}
</script>
  <div class="col-lg-8 col-lg-offset-5 ">
    <span> High MMR games of the last 24h</span> </div>


    <input type="checkbox" name="dmc" onclick="hidenotsolo()">

<hr />

<div class="row">
    <div class="col-lg-12">

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>date</th>
      <th>Player</th>
      <th>MU</th>
      <th>Opponent</th>
      <th>Map</th>
      <th>Result</th>
      <th>MMR</th>
      <th>OpMMR</th>
      <th>Op MMR(estim)</th>

      <th>type</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>League</th>

    </tr>
  </thead>
  <tbody>

   {% for g in games %}
	   <tr class="{{g.type}}">
	     <th scope="row">{{forloop.counter}}</th>
    	 <td>{{g.date_human}}</td>
    	 <td><a href="{%url 'index'%}{{server}}{{g.path}}">{{g.path_human}}</a></td>
    	 <td>
           {%if g.player__mainrace is not  None %} {{g.player__mainrace}}{%endif%}v{%if g.guessopid__mainrace is not  None %}{{g.guessopid__mainrace}} {%endif%}
  </td>

      <td><a href="{{g.oppath}}">{{g.nameop}}</a></td>

    	 <td>{{g.map}}</td>
      	<td>{{g.decision_human}}</td>
      	<td>{{g.current_mmr}}({{g.guessmmrchange}})</td>
      	<td>{{g.opmmr}}({{g.opdmmr}})</td>
        <td>{{g.estimated_mmr}}</td>

      	<td>{{g.type_human}}</td>
      	<td>{{g.current_win}}</td>
      	<td>{{g.current_losses}}</td>
          {% load static %}
      	<td><img src="{% static g.current_league__sigle %}icon.png "  alt="{{g.current_league.league__sigle}}" ></td>
    </tr>
   {% endfor %}
  </tbody>
</table>

    </div>
</div>


  {% endblock content %}
