{% extends 'starcraftHistory/base.html' %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>MMR</th>
      <th>Race</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>League</th>
      <th>Rk</th>
    </tr>
  </thead>
  <tbody>

   {% for player in players %}
	   <tr>
	     <th scope="row">{{forloop.counter}}</th>
    	 <td><a href="../player/{{player.idplayer}}" >{{player.name_human}}</a></td>
      	<td>{{player.rating}}</td>
      	<td>{{player.mainrace}}</td>
      	<td>{{player.wins}}</td>
      	<td>{{player.loses}}</td>
      	<td>{{player.league}}</td>
      	<td>{{player.rank}}</td>
    </tr>




   {% endfor %}


  </tbody>
</table>

{% endblock content %}
