{% extends 'starcraftHistory/base.html' %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Account</th>
      <th>Smurf</th>
      <th>MMR</th>
      <th>Race</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>League</th>
      <th>Rk</th>
      <th>Last Played</th>
    </tr>
  </thead>
  <tbody>
    {% load static starcraftHistory_extras %}
   {% for player in players %}
	   <tr>
	     <th scope="row">{{forloop.counter}}</th>
    	 <td><a href="../player/{{player.idplayer}}" >{{player.name}}</a></td>
    	 <td>{{player.smurf__pseudo}}</td>
      	<td>{{player.rating}}</td>
      	<td>{{player.mainrace|icon:"race"}}</td>
      	<td>{{player.wins}}</td>
      	<td>{{player.loses}}</td>

      	<td><a href="{%url 'index'%}league/{{player.league}}">
          <img src="{% static player.league__sigle %}icon.png "  alt="{{player.league__sigle}}" ></td>
        </a>
        <td>{{player.rank}}</td>
      	<td>{{player.LP}}</td>
    </tr>




   {% endfor %}


  </tbody>
</table>

{% endblock content %}
