{% extends 'starcraftHistory/base.html' %}
{% block content %}

<div class="row">
  <div class="col-lg-12 "><h3> {{displayname}}</h3> </div>
</div>
<div class="row">
  <div class="col-lg-12  ">
    <span> <a href="{{bneturl}}"> {{name}}</a></span> </div>
</div>
<div class="row">
{%for r in racep%}

  <div class="col-lg-3 col-lg-offset-2" class="text-left" >


    <div class="row" ><div class=col-lg-12 >
    Race: {{r.mainrace}}   </div></div>
    <div class="row"><div class=col-lg-12>
      League: {{r.league}} </div></div>
      <div class="row"><div class=col-lg-6>
        MMR: {{r.rating}} </div>
        <div class=col-lg-6>
          Rk: {{r.rank}} </div></div>
          <div class="row"><div class=col-lg-6>
            Wins: {{r.wins}} </div>
            <div class=col-lg-6>
              Losses: {{r.loses}} </div></div>
  </div>
{%endfor%}
</div>

<hr />

<div class="row">
    <div class="col-lg-12">

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>date</th>
      <th>Player</th>
      <th>MU</th>
      <th>Opponent</th>
      <th>Map</th>
      <th>Result</th>
      <th>MMR</th>
      <th>OpMMR</th>
      <th>Op MMR(estim)</th>

      <th>type</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>League</th>

    </tr>
  </thead>
  <tbody>
   {% for g in games %}
	   <tr>
	     <th scope="row">{{forloop.counter}}</th>
    	 <td>{{g.date_human}}</td>
    	 <td><a href="{%url 'index'%}{{server}}{{g.path}}">{{g.path_human}}</a></td>
    	 <td>
           {%if g.player__mainrace is not  None %} {{g.player__mainrace}}{%endif%}v{%if g.guessopid__mainrace is not  None %}{{g.guessopid__mainrace}} {%endif%}
  </td>

      <td><a href="{%url 'index'%}{{server}}{{g.oppath}}">{{g.nameop}}</a></td>

    	 <td>{{g.map}}</td>
      	<td>{{g.decision_human}}</td>
      	<td>{{g.current_mmr}}({{g.guessmmrchange}})</td>
      	<td>{{g.opmmr}}({{g.opdmmr}})</td>
        <td>{{g.estimated_mmr}}</td>

      	<td>{{g.type_human}}</td>
      	<td>{{g.current_win}}</td>
      	<td>{{g.current_losses}}</td>
          {% load static %}
      	<td><img src="{% static g.current_league__sigle %}icon.png "  alt="{{g.current_league.league__sigle}}" ></td>
    </tr>
   {% endfor %}
  </tbody>
</table>

    </div>
</div>


  {% endblock content %}
