{% extends 'starcraftHistory/base.html' %}
{% block content %}

<table class="table">
  <thead>
    <tr>
      <th> #</th>
      <th>Name</th>
      <th>Country</th>
      <th>Race</th>
      <th>Highest MMR</th>

    </tr>
  </thead>
  <tbody>
    {% load static starcraftHistory_extras %}

   {% for p in pro %}
	   <tr>
	     <th scope="row">{{forloop.counter}}</th>
	     <th scope="row"><a href="{%url 'index'%}pro/{{p.idprogamer}}" >{{p.pseudo}}</a></th>
	     <th scope="row">{{p.nationality}}</th>
	     <th scope="row">{{p.mainrace}}</th>
	     <th scope="row">{{p.maxmmr}}</th>

    </tr>




   {% endfor %}


  </tbody>
</table>

{% endblock content %}
