{% extends 'starcraftHistory/base.html' %}
{% block content %}
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>


<div class="row">
<div class="col-lg-6">
  <h4> 10 Games with the most points lost today games</h4>

   <table class="table">
     <thead>
       <tr>
         <th title="UTC time, add 2h for CEST"> Date</th>
         <th>Player 1</th>
         <th>MMR</th>
         <th>+/-</th>
         <th>Player 2</th>
         <th>MMR</th>
         <th>+/-</th>
       </tr>
     </thead>

       <tbody>

        {% for g in games %}

         <tr >
           <td>{{g.date_human}}</td>
           <td><a href="{%url 'index'%}player/{{g.player}}/">{{g.player__name}}</a></td>
            <td>{{g.current_mmr}}</td>
            <td>{{g.guessmmrchange}}</td>
            <td><a href="{%url 'index'%}player/{{g.guessopgameid__player}}/">{{g.guessopid__name}}</a></td>
            <td> {{g.guessopgameid__current_mmr}}</td>
            <td> {{g.guessopgameid__guessmmrchange}}</td>

         </tr>



        {% endfor %}


       </tbody>
   </table>

</div>
<div class="col-lg-6">
  <h4> 10 Games with most point won today </h4>

   <table class="table">
     <thead>
       <tr>
         <th title="UTC time, add 2h for CEST"> Date</th>
         <th>Player 1</th>
         <th>MMR</th>
         <th>+/- </th>
         <th>Player 2</th>
         <th>MMR</th>
         <th>+/-</th>
       </tr>
     </thead>

       <tbody>

        {% for g in best %}

         <tr >
           <td>{{g.date_human}}</td>
           <td><a href="{%url 'index'%}player/{{g.player}}/">{{g.player__name}}</a></td>
            <td>{{g.current_mmr}}</td>
            <td>{{g.guessmmrchange}}</td>
            <td><a href="{%url 'index'%}player/{{g.guessopgameid__player}}/">{{g.guessopid__name}}</a></td>
            <td> {{g.guessopgameid__current_mmr}}</td>
            <td> {{g.guessopgameid__guessmmrchange}}</td>

         </tr>



        {% endfor %}


       </tbody>
   </table>

</div>
</div>
%%%%%%
<div class="row">
<div class="col-lg-6">
  <h4> 10 Games with the less points won today </h4>

   <table class="table">
     <thead>
       <tr>
         <th title="UTC time, add 2h for CEST"> Date</th>
         <th>Player 1</th>
         <th>MMR</th>
         <th>+/-</th>
         <th>Player 2</th>
         <th>MMR</th>
         <th>+/-</th>
       </tr>
     </thead>

       <tbody>

        {% for g in dangerous %}

         <tr >
           <td>{{g.date_human}}</td>
           <td><a href="{%url 'index'%}player/{{g.player}}/">{{g.player__name}}</a></td>
            <td>{{g.current_mmr}}</td>
            <td>{{g.guessmmrchange}}</td>
            <td><a href="{%url 'index'%}player/{{g.guessopgameid__player}}/">{{g.guessopid__name}}</a></td>
            <td> {{g.guessopgameid__current_mmr}}</td>
            <td> {{g.guessopgameid__guessmmrchange}}</td>

         </tr>



        {% endfor %}


       </tbody>
   </table>

</div>
</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/heatmap.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div class="row">
  <div class="col-lg-12">

<div id="container"></div>
<script>
var chart=Highcharts.chart('container',{

        chart: {
            type: 'heatmap',
            marginTop: 40,
            marginBottom: 40
        },


        title: {
            text: 'Sales per employee per weekday'
        },

        xAxis: {

            categories: [ {% for n in names%}   '{{n}}', {%endfor%} ]
        },
        yAxis: {

            categories: [ {% for n in names%}   '{{n}}' ,{%endfor%} ],
            title: null
        },

        colorAxis: {
          stops: [
           [0, '#3060cf'],
           [0.5, '#fffbbc'],
           [0.9, '#c4463a']
       ],
        },

        legend: {
            align: 'right',
            layout: 'vertical',
            margin: 0,
            verticalAlign: 'bottom',
            y: 25,
            symbolHeight: 320
        },

        tooltip: {
            formatter: function () {
                return '<b>' + this.series.xAxis.categories[this.point.x] +
                '</b> won <br><b>' +
                    this.point.value + '</b> points vs <br><b>' + this.series.yAxis.categories[this.point.y] + '</b>';
            }
        },

        series: [{
            name: 'Sales per employee',
            borderWidth: 1,
            data:
            [{%for d in data%}
              {{d}},
            {%endfor%}]
            ,
            dataLabels: {
                enabled: true,
                color: 'black',
                style: {
                    textShadow: 'none'
                }
            }
        }]

    });

</script>
  </div>
</div>
{% endblock content %}
