{% extends 'starcraftHistory/base.html' %}
{% block content %}
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

<button type="button" class="btn btn-primary" onclick="update()">Update</button>

<table class="table">
  <thead>
    <tr>
      <th title="EDT time, add 6h for CEST"> Date (EDT)</th>
      <th>Player 1</th>
      <th>MMR</th>
      <th>MMR change</th>
      <th>Player 2</th>
      <th>MMR</th>
      <th>MMR change</th>
    </tr>
  </thead>

    <tbody id="gameliste">
      {% load starcraftHistory_extras %}
     {% for g in games %}

      <tr >
        <td>{{g.date_human}}</td>
        <td>{{g.player__mainrace|icon:"race"}}<a href="{%url 'index'%}player/{{g.player}}/">{{g.player__name}}</a></td>
         <td>{{g.current_mmr}}</td>
         <td>{{g.guessmmrchange}}</td>
         <td>{{g.guessopid__mainrace|icon:"race"}}<a href="{%url 'index'%}player/{{g.guessopgameid__player}}/">{{g.guessopid__name}}</a></td>
         <td> {{g.guessopgameid__current_mmr}}</td>
         <td> {{g.guessopgameid__guessmmrchange}}</td>

      </tr>



     {% endfor %}


    </tbody>
</table>

<script>
/*$.getJSON("lm/",data,success );*/
var maxpk={{maxpk}};
var maxdate=1494984310;
function update(){
  console.log("update");
$.ajax({
    url: 'lm',
    type: 'GET',
    data: {"date":maxpk},
    contentType: 'application/json; charset=utf-8',
    dataType: 'json',
    async: true,
    success: success
});
};


function success(data) {
  console.log("succes")
  games=data["games"];
  var g;
  for (g in games){
    addOneGame(games[g]);
    if (games[g]["date"]>maxdate)
    {
      maxdate=games[g]["date"];
    }
    if (games[g]["pk"]>maxpk)
    {
      maxpk=games[g]["pk"];
    }


    console.log(maxdate,maxpk);

  };
};

function addOneGame(g){
  console.log(g)
  date=g["date_human"]
  name1=g["player__name"]
  mmr1=g["current_mmr"]
  dmmr1=g["guessmmrchange"]
  name2=g["guessopid__name"]
  mmr2=g["guessopgameid__current_mmr"]
  dmmr2=g["guessopgameid__guessmmrchange"]

 line='<tr><td>'+date+'</td>'
 line=line+'<td>'+name1+'</td>'
 line=line+'<td>'+mmr1+'</td>'
 line=line+'<td>'+dmmr1+'</td>'

 line=line+'<td>'+name2+'</td>'
 line=line+'<td>'+mmr2+'</td>'
 line=line+'<td>'+dmmr2+'</td></tr>'
 console.log(line)
 $(line).hide().prependTo("#gameliste").fadeIn(500)
};


</script>
{% endblock content %}
