{% extends 'starcraftHistory/base.html' %}
{% block content %}
<div class="row">
  <div class="col-lg-4">
    <h3> Current WCS EU ranking </h3>
    End in <b>{{wait}}</b>
    <table class="table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>MMR</th>
      <th>Delta</th>
      <th><tiny>last played</tiny></th>
      <th>
      #games</th>
    </tr>
  </thead>

  <tbody>

   {% for player in players %}

	   <tr class="disp{{player.truename}} {{player.qualif}}">
	     <th scope="row">{{player.num}}</th>
    	 <td><a href="../player/{{player.idplayer}}" >
             {% load static %}
         <img src="{% static player.mainrace %}icon_small.png "  alt="" >
         {{player.name}}</a></td>
      	<td>{{player.rating}}</td>
      	<td>{{player.rating|add:basemmr}}</td>
      	<td>{{player.LP}}</td>
      	<td>{{player.numgames}}</td>
    </tr>



   {% endfor %}


  </tbody>
</table>
Some notes on this ranking, we have removed
  <ul>
  <li> Non europeans </li>
  <li> Players not using their names (ie barcodes)</li>
  <li> MMR  <6300 are arbitrally not displayed </li>
  <li>Serral said he <a href="https://twitter.com/ENCE_Serral/status/845374169231568897">
    couldnt make it </a>
  <li>SortOf is in <a href="https://twitter.com/SortOfSC/status/842430409648537601">
 korea
   </a></li>
   <li>Heromarine seems to be speedrunning its 15 games in so giving away points...</li>

<li>     (also zhugeliang,Strange,Beastyqt, Denver and Indy to a lesser impact)</li>
</ul>
Also the #games column is for the moment the number of games played between friday 21:00CET
and saturday 21:00 CET.
  </div>

  <div class="col-lg-8">
    <h3> Recent games</h3>

     <table class="table">
       <thead>
         <tr>
           <th> Date</th>
           <th>Player 1</th>
           <th>MMR</th>
           <th>MMR change</th>
           <th>Player 2</th>
           <th>MMR</th>
           <th>MMR change</th>
         </tr>
       </thead>

         <tbody>

          {% for g in games %}

       	   <tr >
             <td>{{g.date_human}}</td>
           	 <td>{{g.player__name}}</td>
             	<td>{{g.current_mmr}}</td>
             	<td>{{g.guessmmrchange}}</td>
              <td>{{g.guessopid__name}}</td>
             	<td> {{g.guessopgameid__current_mmr}}</td>
             	<td> {{g.guessopgameid__guessmmrchange}}</td>

           </tr>



          {% endfor %}


         </tbody>
     </table>

  </div>
</div>
{% endblock content %}
