{% extends 'starcraftHistory/base.html' %}
{% block content %}
<style>
.head{background-color: #f2f2f2}
.new{background-color: rgba(253, 206, 53, 0.1);border: 1px solid black;}
.hova {
    background-color: rgba(193, 238, 251, 0.34);
}
</style>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
  </script>

<div class="row">
  <div class="col-lg-12">
    <center><h2>WCS Challenger EU #3: Valencia   </h2></center>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <center>Challenger ends in {{wait}} | <a href="http://www.teamliquid.net/forum/sc2-tournaments/523154-wcs-challenger-2017-3-valencia-na-and-eu">
    TL thread </a>|<a href="ttps://www.eslgaming.com/article/get-ready-wcs-challenger-j-nk-ping-3522">
    esl rules </a> |
  <a href="https://twitter.com/esportstarcraft"> Official twitter </a></center>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <center>You can view the vod of
      <a href="https://www.twitch.tv/thalandros/videos/all">
         "The Final Hours"</a> to see how insanely close it was.
    </center>
  </div>
</div>
<div class="row">
  <div class="col-lg=12">
    <h3>Final (Unofficial) Ranking</h3>
    <table class="table">
  <thead >
    <tr >
      <th>#</th>
      <th>Name</th>
      <th>MMR</th>
      <th title="Distance to 8th"><center>Δ</center></th>
        <th title="Win-Loss-Total(MMR)">Day1</th>
        <th title="Win-Loss-Total(MMR)">Day2</th>
        <th title="Win-Loss-Total(MMR)">Day3</th>
        <th title="Win-Loss-Total(MMR)">Total</th>

      <th title="last played"><center>lp</center></th>
    </tr>
  </thead>

  <tbody>



	   <tr class="disp qualif p1748">
	     <th scope="row">1</th>
    	 <td> <img src="/static/Zicon_small.png">
         <a href="/eu/player/1748/">


         Serral</a></td>
      	<td>7214</td>
      	<td><center>384</center></td>

      	<td class"=border"><center>13-2:<b>
        15</b>(42)</center></td>
      	<td class"=border"><center>13-2:<b>
        15</b>(54)</center></td>
      	<td class"=border"><center>12-3:<b>
        15</b>(21)</center></td>
      	<td class"=border"><center>38-7:<b>
        45</b>(117)</center></td>


        <td>3:53:45</td>
    </tr>





	   <tr class="disp qualif p1914">
	     <th scope="row">2</th>
    	 <td> <img src="/static/Zicon_small.png">
         <a href="/eu/player/1914/">


         Elazer</a></td>
      	<td>7012</td>
      	<td><center>182</center></td>

      	<td class"=border"><center>13-2:<b>
        15</b>(96)</center></td>
      	<td class"=border"><center>8-8:<b>
        16</b>(-128)</center></td>
      	<td class"=border"><center>10-5:<b>
        15</b>(31)</center></td>
      	<td class"=border"><center>31-15:<b>
        46</b>(-1)</center></td>


        <td>7:56:22</td>
    </tr>





	   <tr class="disp qualif p2129">
	     <th scope="row">3</th>
    	 <td> <img src="/static/Zicon_small.png">
         <a href="/eu/player/2129/">


         Nerchio</a></td>
      	<td>6982</td>
      	<td><center>152</center></td>

      	<td class"=border"><center>12-6:<b>
        18</b>(-70)</center></td>
      	<td class"=border"><center>12-3:<b>
        15</b>(133)</center></td>
      	<td class"=border"><center>11-4:<b>
        15</b>(1)</center></td>
      	<td class"=border"><center>35-13:<b>
        48</b>(64)</center></td>


        <td>10:54:28</td>
    </tr>





	   <tr class="disp qualif p2584">
	     <th scope="row">4</th>
    	 <td> <img src="/static/Picon_small.png">
         <a href="/eu/player/2584/">


         ShoWTimE</a></td>
      	<td>6929</td>
      	<td><center>99</center></td>

      	<td class"=border"><center>11-4:<b>
        15</b>(36)</center></td>
      	<td class"=border"><center>12-3:<b>
        15</b>(57)</center></td>
      	<td class"=border"><center>10-5:<b>
        15</b>(5)</center></td>
      	<td class"=border"><center>33-12:<b>
        45</b>(98)</center></td>


        <td>4:34:13</td>
    </tr>





	   <tr class="disp qualif p1940">
	     <th scope="row">5</th>
    	 <td> <img src="/static/Zicon_small.png">
         <a href="/eu/player/1940/">


         Namshar</a></td>
      	<td>6838</td>
      	<td><center>8</center></td>

      	<td class"=border"><center>23-15:<b>
        38</b>(-16)</center></td>
      	<td class"=border"><center>13-14:<b>
        27</b>(-47)</center></td>
      	<td class"=border"><center>21-8:<b>
        29</b>(168)</center></td>
      	<td class"=border"><center>57-37:<b>
        94</b>(105)</center></td>


        <td>0:14:07</td>
    </tr>





	   <tr class="disp qualif p2510">
	     <th scope="row">6</th>
    	 <td> <img src="/static/Picon_small.png">
         <a href="/eu/player/2510/">


         PtitDrogo</a></td>
      	<td>6835</td>
      	<td><center>5</center></td>

      	<td class"=border"><center>6-9:<b>
        15</b>(-106)</center></td>
      	<td class"=border"><center>17-11:<b>
        28</b>(12)</center></td>
      	<td class"=border"><center>22-8:<b>
        30</b>(158)</center></td>
      	<td class"=border"><center>45-28:<b>
        73</b>(64)</center></td>


        <td>0:44:18</td>
    </tr>





	   <tr class="disp qualif p1968">
	     <th scope="row">7</th>
    	 <td> <img src="/static/Picon_small.png">
         <a href="/eu/player/1968/">


         Harstem</a></td>
      	<td>6832</td>
      	<td><center>2</center></td>

      	<td class"=border"><center>12-4:<b>
        16</b>(124)</center></td>
      	<td class"=border"><center>9-6:<b>
        15</b>(32)</center></td>
      	<td class"=border"><center>10-5:<b>
        15</b>(41)</center></td>
      	<td class"=border"><center>31-15:<b>
        46</b>(197)</center></td>


        <td>9:51:35</td>
    </tr>





	   <tr class="disp qualif p1892">
	     <th scope="row">8</th>
    	 <td> <img src="/static/Zicon_small.png">
         <a href="/eu/player/1892/">


         Stephano</a></td>
      	<td>6830</td>
      	<td><center>0</center></td>

      	<td class"=border"><center>13-10:<b>
        23</b>(47)</center></td>
      	<td class"=border"><center>9-6:<b>
        15</b>(26)</center></td>
      	<td class"=border"><center>13-6:<b>
        19</b>(150)</center></td>
      	<td class"=border"><center>35-22:<b>
        57</b>(223)</center></td>


        <td>0:22:52</td>
    </tr>





	   <tr class="disp notqualif p2563">
	     <th scope="row">9</th>
    	 <td> <img src="/static/Ticon_small.png">
         <a href="/eu/player/2563/">


         HeroMarine</a></td>
      	<td>6829</td>
      	<td><center>-1</center></td>

      	<td class"=border"><center>9-6:<b>
        15</b>(-36)</center></td>
      	<td class"=border"><center>11-4:<b>
        15</b>(21)</center></td>
      	<td class"=border"><center>11-9:<b>
        20</b>(-49)</center></td>
      	<td class"=border"><center>31-19:<b>
        50</b>(-64)</center></td>


        <td>0:12:13</td>
    </tr>





	   <tr class="disp notqualif p2535">
	     <th scope="row">10</th>
    	 <td> <img src="/static/Ticon_small.png">
         <a href="/eu/player/2535/">


         liquidthermy</a></td>
      	<td>6756</td>
      	<td><center>-74</center></td>

      	<td class"=border"><center>11-4:<b>
        15</b>(-5)</center></td>
      	<td class"=border"><center>12-11:<b>
        23</b>(-134)</center></td>
      	<td class"=border"><center>20-8:<b>
        28</b>(82)</center></td>
      	<td class"=border"><center>43-23:<b>
        66</b>(-57)</center></td>


        <td>0:23:05</td>
    </tr>





	   <tr class="disp notqualif p1836">
	     <th scope="row">11</th>
    	 <td> <img src="/static/Zicon_small.png">
         <a href="/eu/player/1836/">


         LiquidSnute</a></td>
      	<td>6695</td>
      	<td><center>-135</center></td>

      	<td class"=border"><center>20-21:<b>
        41</b>(-206)</center></td>
      	<td class"=border"><center>33-21:<b>
        54</b>(0)</center></td>
      	<td class"=border"><center>39-27:<b>
        66</b>(60)</center></td>
      	<td class"=border"><center>92-69:<b>
        161</b>(-146)</center></td>


        <td>0:14:07</td>
    </tr>





	   <tr class="disp notqualif p1966">
	     <th scope="row">12</th>
    	 <td> <img src="/static/Zicon_small.png">
         <a href="/eu/player/1966/">


         Lambo</a></td>
      	<td>6683</td>
      	<td><center>-147</center></td>

      	<td class"=border"><center>18-21:<b>
        39</b>(-125)</center></td>
      	<td class"=border"><center>20-7:<b>
        27</b>(175)</center></td>
      	<td class"=border"><center>22-15:<b>
        37</b>(59)</center></td>
      	<td class"=border"><center>60-43:<b>
        103</b>(109)</center></td>


        <td>1:04:39</td>
    </tr>





	   <tr class="disp notqualif p3544">
	     <th scope="row">13</th>
    	 <td> <img src="/static/Zicon_small.png">
         <a href="/eu/player/3544/">


         SortOf</a></td>
      	<td>6647</td>
      	<td><center>-183</center></td>

      	<td class"=border"><center>20-15:<b>
        35</b>(95)</center></td>
      	<td class"=border"><center>23-9:<b>
        32</b>(173)</center></td>
      	<td class"=border"><center>15-10:<b>
        25</b>(57)</center></td>
      	<td class"=border"><center>58-34:<b>
        92</b>(325)</center></td>


        <td>1:14:18</td>
    </tr>





	   <tr class="disp notqualif p1771">
	     <th scope="row">14</th>
    	 <td> <img src="/static/Ticon_small.png">
         <a href="/eu/player/1771/">


         soul</a></td>
      	<td>6607</td>
      	<td><center>-223</center></td>

      	<td class"=border"><center>14-6:<b>
        20</b>(58)</center></td>
      	<td class"=border"><center>10-9:<b>
        19</b>(-64)</center></td>
      	<td class"=border"><center>13-15:<b>
        28</b>(-139)</center></td>
      	<td class"=border"><center>37-30:<b>
        67</b>(-145)</center></td>


        <td>5:11:14</td>
    </tr>





	   <tr class="disp notqualif p1948">
	     <th scope="row">15</th>
    	 <td> <img src="/static/Zicon_small.png">
         <a href="/eu/player/1948/">


         LiquidTLO</a></td>
      	<td>6531</td>
      	<td><center>-299</center></td>

      	<td class"=border"><center>12-10:<b>
        22</b>(-6)</center></td>
      	<td class"=border"><center>14-11:<b>
        25</b>(17)</center></td>
      	<td class"=border"><center>22-21:<b>
        43</b>(-111)</center></td>
      	<td class"=border"><center>48-42:<b>
        90</b>(-100)</center></td>


        <td>0:10:52</td>
    </tr>





	   <tr class="disp notqualif p2457">
	     <th scope="row">16</th>
    	 <td> <img src="/static/Picon_small.png">
         <a href="/eu/player/2457/">


         LiquidMaNa</a></td>
      	<td>6526</td>
      	<td><center>-304</center></td>

      	<td class"=border"><center>12-5:<b>
        17</b>(98)</center></td>
      	<td class"=border"><center>10-5:<b>
        15</b>(42)</center></td>
      	<td class"=border"><center>10-11:<b>
        21</b>(-77)</center></td>
      	<td class"=border"><center>32-21:<b>
        53</b>(63)</center></td>


        <td>0:41:53</td>
    </tr>





	   <tr class="disp notqualif p1814">
	     <th scope="row">17</th>
    	 <td> <img src="/static/Zicon_small.png">
         <a href="/eu/player/1814/">


         Bly</a></td>
      	<td>6508</td>
      	<td><center>-322</center></td>

      	<td class"=border"><center>11-18:<b>
        29</b>(-221)</center></td>
      	<td class"=border"><center>17-18:<b>
        35</b>(-126)</center></td>
      	<td class"=border"><center>28-24:<b>
        52</b>(-69)</center></td>
      	<td class"=border"><center>56-60:<b>
        116</b>(-416)</center></td>


        <td>5:03:02</td>
    </tr>





	   <tr class="disp notqualif p1809">
	     <th scope="row">18</th>
    	 <td> <img src="/static/Picon_small.png">
         <a href="/eu/player/1809/">


         DnS</a></td>
      	<td>6421</td>
      	<td><center>-409</center></td>

      	<td class"=border"><center>9-9:<b>
        18</b>(-23)</center></td>
      	<td class"=border"><center>8-7:<b>
        15</b>(-18)</center></td>
      	<td class"=border"><center>9-15:<b>
        24</b>(-193)</center></td>
      	<td class"=border"><center>26-31:<b>
        57</b>(-234)</center></td>


        <td>6:29:33</td>
    </tr>






  </tbody>
</table>
  <div>
<div class="row">
  <div class="col-lg-4">
    <h3> Current WCS EU ranking  </h3>
    <p>Current promotion windows ends in <b>{{promotime}}</b>
    <br>Challenger ends in <b>{{wait}}</b></p>
    <div class="timer"></div>
    <table class="table-sm">
  <thead >
    <tr >
      <th>#</th>
      <th>Name</th>
      <th>MMR</th>
      <th title="Distance to 8th"><center>Δ</center></th>
      <th title="number of games played between GM promotion at 21h CEST">#Games</th>
      <th title="last played"><center>lp</center></th>
    </tr>
  </thead>

  <tbody>
{% load starcraftHistory_extras %}
   {% for player in players %}

	   <tr class="disp{{player.truename}} {{player.qualif}} p{{player.idplayer}}">
	     <th scope="row">{{player.num}}</th>
    	 <td> {{player.mainrace|icon:"race"}}
         <a href="{%url 'index'%}{{server}}/player/{{player.idplayer}}/">
             {% load static starcraftHistory_extras %}

         {{player.name|split:"#"}}</a></td>
      	<td>{{player.rating}}</td>
      	<td><center>{{player.rating|add:basemmr}}</center></td>
      	<td><center>{{player.numgames}}</center></td>
        <td>{{player.LP}}</td>
    </tr>



   {% endfor %}


  </tbody>
</table>
Some notes on this ranking, we have removed
  <ul>
  <li><div id="problem">(*)Shadown is a close call at 14 games at day 2</div> </li>
  <li> Non EU players  </li>
  <li> Players not using their names (ie barcodes)</li>
  <li> MMR  <6300 are arbitrally not displayed  </li>
  <li> There is 3 time windows in which players have to play 15 games:
    between Thursday 21:00 CEST and friday, then friday-saturday and saturday-sunday
    (see <a href="https://www.eslgaming.com/article/get-ready-wcs-challenger-j-nk-ping-3522">
    esl rules </a> ).
  <li> If a player is missing (or shouldn't be here) dont hesitate to contact
    <a href="https://twitter.com/nicolas42">me</a>  (its harder to know who is eligible
    on NA than EU)
    </li>


  </div>

  <div class="col-lg-8">
    <h3> Recent games</h3>

     <table class="table">
       <thead class="head">
         <tr>
           <th title="CEST time, remove 2h for UTC"> Date (CEST)</th>
           <th>Player 1</th>
           <th>MMR</th>
           <th>ΔMMR </th>
           <th>Player 2</th>
           <th>MMR</th>
           <th>ΔMMR </th>
         </tr>
       </thead>

         <tbody>

          {% for g in games %}

       	   <tr class="p{{g.player}}" >
             <td>{{g.date_human}}</td>
           	 <td>{{g.player__mainrace|icon:"race"}}<a href="{%url 'index'%}{{server}}/player/{{g.player}}/">{{g.player__name}}</a></td>
             	<td>{{g.current_mmr}}</td>
             	<td>{{g.guessmmrchange}}</td>
              <td>{{g.guessopid__mainrace|icon:"race"}}<a href="{%url 'index'%}{{server}}/player/{{g.guessopgameid__player}}/">{{g.guessopid__name}}</a></td>
             	<td> {{g.guessopgameid__current_mmr}}</td>
             	<td> {{g.guessopgameid__guessmmrchange}}</td>

           </tr>



          {% endfor %}


         </tbody>
     </table>

  </div>
</div>
<script>
function highlighthover(classe){

$("."+classe).mouseover(function(e){
    $(".hova").removeClass("hova");
    $("."+classe).addClass("hova");
  return false;
}).mouseout(function(e) {
    $("."+classe).removeClass("hova");
});
}
{%for p in players%}
highlighthover("p{{p.idplayer}}");
{%endfor%}
</script>

{% endblock content %}
