{% extends 'starcraftHistory/base.html' %}
{% block content %}
<style>
.head{background-color: #f2f2f2}
.new{background-color: rgba(253, 206, 53, 0.1);border: 1px solid black;}
.hova {
    background-color: rgba(193, 238, 251, 0.34);
}
</style>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
  </script>


<div class="row">
  <div class="col-lg-12">
    <center><h2>WCS Challenger NA #2: Jönköping   </h2></center>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <h3><center> (unofficial) final ranking</center></h3>

    <table class="table">
      <thead >
        <tr >
          <th>#</th>
          <th>Name</th>
          <th>MMR</th>
          <th title="Distance to 8th"><center>Δ</center></th>
          <th title="number of games played between GM promotion at 21h EDT">#Games</th>
          <th title="last played"><center>lp</center></th>
        </tr>
      </thead>

      <tbody>



    	   <tr class="dispTrue qualif p2920">
    	     <th scope="row">1</th>
        	 <td> <img src="/static/Ticon_small.png">
             <a href="../player/2920" >


             Semper</a></td>
          	<td>6735</td>
          	<td>370</td>
          	<td><center>0</center></td>
            <td>19:54:4</td>
        </tr>





    	   <tr class="dispTrue qualif p3480">
    	     <th scope="row">2</th>
        	 <td> <img src="/static/Ticon_small.png">
             <a href="../player/3480" >


             MaSa</a></td>
          	<td>6647</td>
          	<td>282</td>
          	<td><center>0</center></td>
            <td>3:28:19</td>
        </tr>





    	   <tr class="dispTrue qualif p2741">
    	     <th scope="row">3</th>
        	 <td> <img src="/static/Zicon_small.png">
             <a href="../player/2741" >


             NoRegreT</a></td>
          	<td>6594</td>
          	<td>229</td>
          	<td><center>0</center></td>
            <td>8:25:21</td>
        </tr>





    	   <tr class="dispTrue qualif p2732">
    	     <th scope="row">4</th>
        	 <td> <img src="/static/Picon_small.png">
             <a href="../player/2732" >


             PiLiPiLi</a></td>
          	<td>6495</td>
          	<td>130</td>
          	<td><center>0</center></td>
            <td>18:37:1</td>
        </tr>





    	   <tr class="dispTrue qualif p2750">
    	     <th scope="row">5</th>
        	 <td> <img src="/static/Picon_small.png">
             <a href="../player/2750" >


             Bails</a></td>
          	<td>6476</td>
          	<td>111</td>
          	<td><center>0</center></td>
            <td>16:39:3</td>
        </tr>





    	   <tr class="dispTrue qualif p3567">
    	     <th scope="row">6</th>
        	 <td> <img src="/static/Zicon_small.png">
             <a href="../player/3567" >


             Silky</a></td>
          	<td>6383</td>
          	<td>18</td>
          	<td><center>2</center></td>
            <td>1:23:46</td>
        </tr>





    	   <tr class="dispTrue qualif p2737">
    	     <th scope="row">7</th>
        	 <td> <img src="/static/Zicon_small.png">
             <a href="../player/2737" >


             GAMETIME</a></td>
          	<td>6371</td>
          	<td>6</td>
          	<td><center>6</center></td>
            <td>0:32:35</td>
        </tr>





    	   <tr class="dispTrue qualif p2738">
    	     <th scope="row">8</th>
        	 <td> <img src="/static/Ticon_small.png">
             <a href="../player/2738" >


             Drunkenboi</a></td>
          	<td>6365</td>
          	<td>0</td>
          	<td><center>0</center></td>
            <td>3:34:21</td>
        </tr>





    	   <tr class="dispTrue notqualif p2744">
    	     <th scope="row">9</th>
        	 <td> <img src="/static/Zicon_small.png">
             <a href="../player/2744" >


             JonSnow</a></td>
          	<td>6307</td>
          	<td>-58</td>
          	<td><center>7</center></td>
            <td>0:11:58</td>
        </tr>





    	   <tr class="dispTrue notqualif p3323">
    	     <th scope="row">10</th>
        	 <td> <img src="/static/Zicon_small.png">
             <a href="../player/3323" >


             Bioice</a></td>
          	<td>6119</td>
          	<td>-246</td>
          	<td><center>0</center></td>
            <td>3:31:58</td>
        </tr>





    	   <tr class="dispTrue notqualif p2740">
    	     <th scope="row">11</th>
        	 <td> <img src="/static/Zicon_small.png">
             <a href="../player/2740" >


             Jig</a></td>
          	<td>6113</td>
          	<td>-252</td>
          	<td><center>2</center></td>
            <td>2:42:00</td>
        </tr>





    	   <tr class="dispTrue notqualif p2760">
    	     <th scope="row">12</th>
        	 <td> <img src="/static/Picon_small.png">
             <a href="../player/2760" >


             MCanning</a></td>
          	<td>6083</td>
          	<td>-282</td>
          	<td><center>0</center></td>
            <td>5:17:32</td>
        </tr>





    	   <tr class="dispTrue notqualif p2764">
    	     <th scope="row">13</th>
        	 <td> <img src="/static/Zicon_small.png">
             <a href="../player/2764" >


             Voltz</a></td>
          	<td>6005</td>
          	<td>-360</td>
          	<td><center>10</center></td>
            <td>1:16:15</td>
        </tr>






      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <center>Challenger ends in {{wait}} | <a href="http://www.teamliquid.net/forum/sc2-tournaments/522652-wcs-challenger-2017-2-j%C3%B6nk%C3%B6ping-na-and-eu">
    TL thread </a>|<a href="https://www.eslgaming.com/article/get-ready-wcs-challenger-j-nk-ping-3522">
    esl rules </a> |
  <a href="https://twitter.com/esportstarcraft"> Official twitter </a></center>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3> Current WCS NA ranking  </h3>
    <p>Current promotion windows ends in <b>{{promotime}}</b></p>
    <table class="table-sm">
  <thead >
    <tr >
      <th>#</th>
      <th>Name</th>
      <th>MMR</th>
      <th title="Distance to 8th"><center>Δ</center></th>
      <th title="number of games played between GM promotion at 21h EDT">#Games</th>
      <th title="last played"><center>lp</center></th>
    </tr>
  </thead>

  <tbody>
{% load starcraftHistory_extras %}
   {% for player in players %}

	   <tr class="disp{{player.truename}} {{player.qualif}} p{{player.idplayer}}">
	     <th scope="row">{{player.num}}</th>
    	 <td> {{player.mainrace|icon:"race"}}
         <a href="../player/{{player.idplayer}}" >
             {% load static starcraftHistory_extras %}

         {{player.name|split:"#"}}</a></td>
      	<td>{{player.rating}}</td>
      	<td>{{player.rating|add:basemmr}}</td>
      	<td><center>{{player.numgames}}</center></td>
        <td>{{player.LP}}</td>
    </tr>



   {% endfor %}


  </tbody>
</table>
Some notes on this ranking, we have removed
  <ul>
  <li> Non NA players (except TRUE) </li>
  <li> Players not using their names (ie barcodes)</li>
  <li> MMR  <6000 are arbitrally not displayed  </li>
  <li> There is 3 time windows in which players have to play 15 games:
    between Thursday 21pm EDT and saturday, then friday-saturday and saturday-sunday
    (see <a href="https://www.eslgaming.com/article/get-ready-wcs-challenger-j-nk-ping-3522">
    esl rules </a> ).
  <li> If a player is missing (or shouldn't be here) dont hesitate to contact
    <a href="https://twitter.com/nicolas42">me</a>  (its harder to know who is eligible
    on NA than EU)
    </li>
    <li> After the first day Neeb, True,Rase,Scarlett,Guitarcheese, Suppy,Tuna, Cuddlebear, Dolan
      doesnt not seem to have plays the 15 game and have been removed. Puck and Pokebunny
      didnt play enough games the second day and have been removed too.
    </li>


  </div>

  <div class="col-lg-8">
    <h3> Recent games</h3>

     <table class="table">
       <thead class="head">
         <tr>
           <th title="EDT time, add 6h for CEST"> Date (EDT)</th>
           <th>Player 1</th>
           <th>MMR</th>
           <th>MMR change</th>
           <th>Player 2</th>
           <th>MMR</th>
           <th>MMR change</th>
         </tr>
       </thead>

         <tbody>

          {% for g in games %}

       	   <tr class="p{{g.player}}" >
             <td>{{g.date_human}}</td>
           	 <td>{{g.player__mainrace|icon:"race"}}<a href="{%url 'index'%}{{server}}/player/{{g.player}}/">{{g.player__name}}</a></td>
             	<td>{{g.current_mmr}}</td>
             	<td>{{g.guessmmrchange}}</td>
              <td>{{g.guessopid__mainrace|icon:"race"}}<a href="{%url 'index'%}{{server}}/player/{{g.guessopgameid__player}}/">{{g.guessopid__name}}</a></td>
             	<td> {{g.guessopgameid__current_mmr}}</td>
             	<td> {{g.guessopgameid__guessmmrchange}}</td>

           </tr>



          {% endfor %}


         </tbody>
     </table>

  </div>
</div>
<script>
function highlighthover(classe){

$("."+classe).mouseover(function(e){
    $(".hova").removeClass("hova");
    $("."+classe).addClass("hova");
  return false;
}).mouseout(function(e) {
    $("."+classe).removeClass("hova");
});
}
{%for p in players%}
highlighthover("p{{p.idplayer}}");
{%endfor%}
</script><
{% endblock content %}
